    {% extends "base.html" %}

    {% block cuerpo %}
        <div class="row"><!--la fila-->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--columna izquierda-->

            <h1>sucursales</h1>
            <div class="card"><!--la tarjeta-->
            <div class="card-body">
                <form action="registrarSucursal/" method="POST">{% csrf_token %} <!-- falta action -->
                    <input type="text" id="numsucursal" name="numsucursal" value="{{missucursales.id_sucursal}}" class="form-control" placeholder="codigo sucursal" minlenght="1" maxlenght="6" readonly required>
            </div>
            <div class="form-group py-3">
            <input type="text" id="txtdireccion" name="txtdireccion" value="{{missucursales.direccion}}" class="form-control" placeholder="nombre sucursal" maxlenght="100" readonly required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="numtelefono" name="numtelefono" value="{{missucursales.telefono}}" class="form-control" min="1" maxlenght="9" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="txthorario" name="txthorario" value="{{missucursales.horario}}" class="form-control" min="1" maxlenght="9" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="numtelefono" name="numtelefono" value="{{missucursales.telefono}}" class="form-control" min="1" maxlenght="9" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="txtemail" name="txtemail" value="{{missucursales.email}}" class="form-control" min="1" maxlenght="9" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="txtciudad" name="txtciudad" value="{{missucursales.ciudad}}" class="form-control" min="1" maxlenght="9" required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="txtnombre" name="txtnombre" value="{{missucursales.nombre}}" class="form-control" min="1" maxlenght="9" required>
            </div>
                    <div class="form-group py-3">
                    <button type="submit" class="btn btn-primary">Guardar sucursal</button>
                    </div>
                </form>
            </div>
            </div><!--la tarjeta-->
            
            </div><!--columna izquierda-->

        
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna derecha-->
        <h1> listado de sucursales </h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id sucursal</th>
                <th scope="col">direccion</th>
                <th scope="col">telefono</th>
                <th scope="col">horario</th>
                <th scope="col">email</th>
                <th scope="col">ciudad</th>
                <th scope="col">nombre</th>
                <th> opciones </th>
            </tr>
            </thead>
            <tbody>
            {% for m in missucursales %}
            <tr>
            <td>
            {{forloop.counter}}
            </td>
            <td>
            {{m.codigo}}
            </td>
            <td>
            {{m.nombre}}
            </td>
            <td>
            {{m.creditos}}
            </td>
            <td> <a href="seleccionarSucursal/{{m.codigo}}" class="btn btn-info">editar</a></td><!--falta-->
            <td> <a href="/borrarSucursal/{{m.codigo}}" class="btn btn-danger"> borrar</a></td>
            </tr>
            
            
            {% endfor %}


            </tbody>
        </table>
        </div><!--columna derecha-->
    </div><!--la fila-->
    {% endblock %}